<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %} {% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
    </head>
    <body class="is-flex is-flex-direction-column" style="height: 100vh;">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item title is-3" href="/"> Главная </a>
            </div>
        </nav>
        <div class="is-flex-grow-1">
            {% block body %}
            {% endblock %}
        </div>
        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    С любовью, от <a href="https://t.me/pivzhab"> Ильи Замарацких</a>.
                    <a href="https://github.com/mrtstg/apt-tracker"> Проект </a> под лицензией MIT. 
                    Все данные взяты с сайта <a href="https://almetpt.ru" target="_blank"> almetpt.ru </a>
                </p>
            </div>
        </footer>
    </body>
</html>
